@import "tailwindcss";

@theme {
--color-fundo: #EDF6FF; 
--color-login: #046E8F;
--color-botaoLogin: #81B8EE;
--color-texto1: #000000;
--color-texto2: #FFFFFF;
--color-cadastro: #3358FF;
--color-ingresso: #12C32C;
--color-cancelar: #D51B1E;
}