@import "tailwindcss";

@theme {
  --color-fundo: #EDF6FF;
  --color-textoConfirmacao: #046E8F;
  --color-botaoLogin: #81B8EE;
  --color-textoBase: #000000;
  --color-textoSecundario: #FFFFFF;
  --color-botaoChamada: #12C32C;
  --color-botaoCancelar: #D51B1E;
}